

/*.leftVBox{
    -fx-background-color: cyan;
    -fx-padding: 5 5 5 5;
}
.bottom-title{
    -fx-text-fill: white;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-padding:5px 0px 5px 0px;
    -fx-font-size: 14;
}*/